<?xml version="1.0"?>
<model>
  <name>aruco_marker_0</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>CDE2310 G10</name>
    <email>team@todo.todo</email>
  </author>
  <description>Static ArUco marker board, ID 0, for Gazebo camera detection.</description>
</model>
